---
---

@import "{{ site.theme }}";

blockquote {
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  padding: 8px 30px;
  font-size: inherit;
  letter-spacing: inherit;
  font-style: italic;
  color: inherit;
}

.page-navigation {
  font-size: 80%;
  display: block;
  width: auto;
  overflow: hidden;

  a {
    display: block;
    width: 50%;
    float: left;
    margin: 1em 0;
  }

  .next {
    text-align: right;
  }
}

.footer-col-wrapper {
  font-size: 80%;
  padding-left: 10px;
  padding-right: 10px;
}

table.weights-table {
  border-collapse: collapse;
  float: left;

  td {
    min-width: 60px;
    text-align: center;
  }

  thead > tr {
    border-bottom: 1px solid #c0c0c0;
  }
}

table.message-types-table {
  border-collapse: collapse;
  margin-bottom: 10px;

  td {
    min-width: 120px;
    text-align: center;
  }

  thead > tr {
    border-bottom: 1px solid #c0c0c0;
  }
}

div.table-spacer {
  float: left;
  margin: 30px;
}

.site-title {
  font-size: 18px;
}

.footer-licence {
  img {
    float: left;
    margin-right: 20px;
  }
}
